


@import '../node_modules/h8k-design/dist/index.css';

.image-thumb {
  border: 2px solid transparent;
}

.image-thumb.thumb-selected {
  border: 2px solid #39424e;
}

.thumb {
  background-size: contain;
  cursor: pointer;
  width: 100px;
  height: 70px;
}

.main {
 
  display: flex;
  flex-direction: row;
}
.card {
  margin-right: 30px;
}